<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dastavej.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>


<style>
    .custom-form {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5rem;
    }

    @keyframes moveText {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    #b {
        animation: moveText 10s linear infinite;
    }
</style>

<body>
    <%- include("partials/body"); -%>

    
    <section class="bottom ">
        <br>
        <div class="form-card" id="form-card">
            <form id="login-form">
                <!-- Login Form -->
                <h2>Login</h2>
                    <div class="alert alert-success" id="lmsg" role="alert">

                      </div>
                    <div class="alert alert-danger" id="lerror" role="alert">
                      </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" id="login-email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button><br>
                <a href="#" id="toggle-login" style="text-decoration: none;color: #2F2E41;">Register?</a>
            </form>
            <form id="register-form" style="display:none;">
                <!-- Registration Form -->
                <h2>Register</h2>
                    <div class="alert alert-success" id="rmsg" role="alert">
                      </div>
                    <div class="alert alert-danger" id="rerror" role="alert">
                      </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="profession">Profession:</label>
                    <select id="profession" onchange="fun3(this.value)" name="profession">
                        <option value="दस्तावेज लेखक">दस्तावेज लेखक</option>
                        <option value="स्टाम्प वेंडर">स्टाम्प वेंडर</option>
                        <option value="अधिवक्ता">अधिवक्ता</option>
                        <option value="जमीन पर्च">जमीन पर्च</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Jila">Jila:</label>
                    <select id="Jila" onchange="fun(<%= JSON.stringify(parray) %>,this.value)"  name="Jila">

                        <option value="Jila चुने" hidden selected style="color: grey;">Jila चुने</option>
                        <% for(let i=0;i<parray.length;i++){ %>
                            <option value="<%=parray[i].name%>">
                                <%=parray[i].name%>
                            </option>
                        <%} %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Office">Office:</label>
                    <select id="Office" name="Office">
                    </select>               
                </div>
                <div class="form-group">
                    <label for="register-password">Password:</label>
                    <input type="password" id="register-password" name="register-password" required>
                </div>
                <div id="lincense1" class="form-group">
                    <label for="lincense">लाइसेंस क्रमांक:</label>
                    <input type="text" id="lincense" name="lincense" >
                </div>
                <div id="panjayan1" style="display: none;" class="form-group">
                    <label for="panjayan">पंजी क्रमांक:</label>
                    <input type="text" id="panjayan" name="panjayan" >
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <div class="form-group">
                    <label for="upi">Upi ID:</label>
                    <input type="text" id="upi" name="upi" required>
                </div>
                <div class="form-group">
                    <label for="mapLink">Google Map Link:</label>
                    <input type="text" id="mapLink" name="mapLink" required>
                </div>
                <div class="form-group">
                    <label for="address">Address1:</label>
                    <textarea type="text" id="address" name="address" class="form-control input" required></textarea>
                </div>
                <button type="submit">Register</button><br>
                <a href="/dastavejAuthenticate" id="toggle-register" style="text-decoration: none;color: #2F2E41;">Login?</a>
            </form>
        </div>
        <br>
        <h1 hidden></h1>
    </section>

    <%- include("partials/footer"); -%>


        <script src="/js/dastavejAuthenticate.js"></script>
   
    <script>
         function fun(arr, val) {
            let Office = document.getElementById("Office");
            let text = "";
            for (let i = 0; i < arr.length; i++) {
                if (arr[i].name == val) {
                    for (let k = 0; k < arr[i].office.length; k++) {
                        text = text + `<option  value="${arr[i].office[k].name}">${arr[i].office[k].name}</option> `
                    }
                    Office.innerHTML = text;
                }
            }
         }
         function fun3(val) {
            let lincense1 = document.getElementById("lincense1");
            let panjayan1 = document.getElementById("panjayan1");
            if(val=="दस्तावेज लेखक"){
                lincense1.style.display="block"
                panjayan1.style.display="none"
            }
            else if(val=="स्टाम्प वेंडर"){
                lincense1.style.display="none"
                panjayan1.style.display="none"
            }
            else if(val=="जमीन पर्च"){
                lincense1.style.display="none"
                panjayan1.style.display="none"
            }
            else{
                lincense1.style.display="none"
                panjayan1.style.display="block"
            }
         }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous">
</script>
    
</body>

</html>