<%- include("partials/en_header"); -%>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">दस्तावेज</h1>
                   

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text" style="color: #501bd7eb;">दस्तावेज</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>SL No.</th>
                                            <th>दस्तावेज</th>
                                            <th>विलेख</th>
                                            <th>दस्तावेज का विवरण</th>
                                            <th>स्टाम्प शुल्क</th>
                                            <th>उपकर शुल्क</th>
                                            <th>जनपद शुल्क</th>
                                            <th>पंजीयन शुल्क</th>
                                            <th>पक्षकार</th>
                                            <th>पक्षकारो के मध्य सम्बन्ध</th>
                                            <th>Sampati Required</th>
                                            <th> Stamp Mulkiya </th>
                                            <th>Partiton</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>SL No.</th>
                                            <th>दस्तावेज</th>
                                            <th>विलेख</th>
                                            <th>दस्तावेज का विवरण</th>
                                            <th>स्टाम्प शुल्क</th>
                                            <th>उपकर शुल्क</th>
                                            <th>जनपद शुल्क</th>
                                            <th>पंजीयन शुल्क</th>
                                            <th>पक्षकार</th>
                                            <th>पक्षकारो के मध्य सम्बन्ध</th>
                                            <th>Sampati Required</th>
                                            <th> Stamp Mulkiya </th>
                                            <th>Partiton</th>
                                            <th>Action</th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% for(var i=0; i < parray.length; i++){ %>
                                        <% for(var j=0; j < parray[i].sub.length; j++){ %>
                                        <tr>
                                            <td><%=k%></td>
                                            <td>
                                                <a href="/en/admin/<%=parray[i].name%>/<%=parray[i].sub[j].name%>/rea/list" style="text-decoration: none;color: #858796;">
                                                    <%= parray[i].sub[j].name %>
                                                </a>
                                            </td>
                                            <td><%= parray[i].name %></td>
                                            <td><%= parray[i].sub[j].description %></td>
                                            <% if(parray[i].sub[j].Type=="Fixed") {%>
                                                <td><%= parray[i].sub[j].Stamp %> Rs</td>
                                                <td><%= parray[i].sub[j].Upkar %> Rs</td>
                                                <td><%= parray[i].sub[j].Janpad %> Rs</td>
                                            <%}%>



                                            <% if(parray[i].sub[j].Type=="Percentage") {%>
                                                <td><%= parray[i].sub[j].Stamp %> %</td>
                                                <td><%= parray[i].sub[j].Upkar %> %</td>
                                                <td><%= parray[i].sub[j].Janpad %> %</td>
                                            <%}%>

                                         

                                            <% if(parray[i].sub[j].Type=="Per Feet") {%>
                                                <td><%= parray[i].sub[j].Stamp %> प्रति बटवारा हिस्सा </td>
                                                <td><%= parray[i].sub[j].Upkar %> प्रति बटवारा हिस्सा </td>
                                                <td><%= parray[i].sub[j].Janpad %> प्रति बटवारा हिस्सा </td>
                                            <%}%>
                                          
                                            <% if(parray[i].sub[j].PanType=="Percentage") {%>
                                                <td><%= parray[i].sub[j].panjikar %> %</td>
                                            <%}%>

                                            
                                            <% if(parray[i].sub[j].PanType=="Fixed") {%>
                                                <td><%= parray[i].sub[j].panjikar %> Rs</td>
                                            <%}%>

                                            <% if(parray[i].sub[j].PanType=="Per Feet") {%>
                                                <td><%= parray[i].sub[j].panjikar %> प्रति बटवारा हिस्सा </td>
                                            <%}%>

                                            <td><%= parray[i].sub[j].Paksh %></td>
                                            <td><%= parray[i].sub[j].Pakshsam %></td>
                                            <td><%= parray[i].sub[j].SamptiRequi %></td>
                                            <td><%= parray[i].sub[j].SamptiMauk %></td>
                                            <td><%= parray[i].sub[j].Partiton %></td>


                                            <td>
                                                <a href="/en/admin/<%= parray[i].sub[j].name %>/<%= parray[i].name %>/sub/update" class="btn btn-info btn-sm" data-toggle="tooltip" style="color: white;background-color: #501bd7eb;" data-placement="left" title="Update"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="/en/admin/<%= parray[i].sub[j].name %>/<%= parray[i].name %>/sub/delete" class="btn btn-danger btn-sm" data-toggle="tooltip" style="color: white;background-color:red;" data-placement="left" title="Update"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>
                                         
                                        </tr>
                                        <% k++ %>
                                      <% } %>       
                                      <% } %>       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
       
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>