<%- include("partials/en_header"); -%>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #2F2E41;">
                                <h6 class="m-0" style="color: #fff; font-weight: 700;">Makan</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <form action="/en/admin/makan/update" method="post">
                                    <div class="form-group">
                                      <label for="exampleInputEmail1" style="color: #2F2E41;">क्षेत्र का प्रकार  <sup style="color: red;">*</sup></label>
                                      <input type="text" value="<%=found.city%>" readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="city">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color: #2F2E41;">निर्मित संपत्ति का उपयोग  <sup style="color: red;">*</sup></label>
                                        <input type="text" readonly value="<%=found.sampati%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="sampati">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color: #2F2E41;">संरचना का प्रकार<sup style="color: red;">*</sup></label>
                                        <input type="text" readonly value="<%=found.sagrachna%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="sagrachna">
                                    </div>  

                                    <div class="form-group">
                                      <label for="exampleInputEmail1" style="color: #2F2E41;">उपबंद दर<sup style="color: red;">*</sup></label>
                                      <input type="number" value="<%=found.upbad%>" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="upbad">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword1" style="color: #2F2E41;">बहुमंजिला भवन (प्रकोष्ठ अधिनियम लागू है)<sup style="color: red;">*</sup></label>
                                      
                                        <select name="second" id="exampleInputPassword1" required class="form-control" aria-placeholder="Select Status">
                                            <% if(found.second=="Yes"){ %>
                                                <option value="Yes" selected>Yes</option>
                                                <option value="No">No</option>
                                            <%}%>
                                            <% if(found.second=="No"){ %>
                                                <option value="Yes" >Yes</option>
                                                <option value="No" selected>No</option>
                                            <%}%>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" style="color: #2F2E41;">तल<sup style="color: red;">*</sup></label>
                                      
                                        <select name="tal" id="exampleInputPassword1" required class="form-control" aria-placeholder="Select Status">
                                            <% if(found.tal=="Yes"){ %>
                                                <option value="Yes" selected>Yes</option>
                                                <option value="No">No</option>
                                            <%}%>
                                            <% if(found.tal=="No"){ %>
                                                <option value="Yes" >Yes</option>
                                                <option value="No" selected>No</option>
                                            <%}%>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword1" style="color: #2F2E41;">अवक्षयण<sup style="color: red;">*</sup></label>
                                      
                                        <select name="avskarn" id="exampleInputPassword1" required class="form-control" aria-placeholder="Select Status">
                                            <% if(found.avskarn=="Yes"){ %>
                                                <option value="Yes" selected>Yes</option>
                                                <option value="No">No</option>
                                            <%}%>
                                            <% if(found.avskarn=="No"){ %>
                                                <option value="Yes" >Yes</option>
                                                <option value="No" selected>No</option>
                                            <%}%>
                                        </select>
                                    </div>
                                    <!--Image upload-->
                                    <button type="submit" class="btn btn-primary" style="background:#2F2E41; color: #fff; font-weight: 700;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
         
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>