<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://+fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>



<style>
    .custom-form {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5rem;
    }

    @keyframes moveText {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    #b {
        animation: moveText 10s linear infinite;
    }
</style>

<body>
    <%- include("partials/body"); -%>


    <section class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4 mt-4">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                </div>
                <% properties.forEach(function(property) { %>
                    <% for(var j=0; j < property.vigypaan.length; j++){ %>
                        <div class="col-md-4 mb-4 property-card">
                            <div class="card h-100 d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-title">Property Details</h5>
                                    <p class="card-text">Owner name: <%= property.name %></p>
                                    <p class="card-text">Type: <%= property.vigypaan[j].type %></p>
                                    <p class="card-text">Village Name: <%= property.vigypaan[j].villageName %></p>
                                    <p class="card-text">Land Type: <%= property.vigypaan[j].landType %></p>
                                    <p class="card-text">Price: <%= property.vigypaan[j].price %></p>
                                    <% if (property.vigypaan[j].landType === 'Plot') { %>
                                        <p class="card-text">Area: <%= property.vigypaan[j].area %> varg ft.</p>
                                    <% } else if (property.vigypaan[j].landType === 'House') { %>
                                        <p class="card-text">BHK: <%= property.vigypaan[j].bhk %></p>
                                        <p class="card-text">House Type: <%= property.vigypaan[j].houseType %></p>
                                    <% } %>
                                    <p class="card-text">Address: <%= property.vigypaan[j].address %></p>
                                    <p class="card-text">Description: <%= property.vigypaan[j].description %></p>
                                    <p class="card-text">Contact number: <%= property.phone %></p>
                                </div>
                                <div class="mt-auto"></div>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </section>
    <!-- <section class="bottom">
        <div class="container">
            <div class="row">
                <% properties.forEach(function(property) { %>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 d-flex flex-column">
                            <div class="card-body">
                                <h5 class="card-title">Property Details</h5>
                                <p class="card-text">Deed: <%= property.deed %></p>
                                <p class="card-text">Type: <%= property.type %></p>
                                <p class="card-text">Village Name: <%= property.villageName %></p>
                                <p class="card-text">Land Type: <%= property.landType %></p>
                                <p class="card-text">Price: <%= property.price %></p>
                                <% if (property.landType === 'Plot') { %>
                                    <p class="card-text">Area: <%= property.area %> sq. ft.</p>
                                <% } else if (property.landType === 'House') { %>
                                    <p class="card-text">BHK: <%= property.bhk %></p>
                                    <p class="card-text">House Type: <%= property.houseType %></p>
                                <% } %>
                                <p class="card-text">Description: <%= property.description %></p>
                            </div>
                            <div class="mt-auto"></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section> -->
    
    <%- include("partials/footer"); -%>


   
    <script>
        const searchInput = document.getElementById("searchInput");

        // Add an event listener to the search input for filtering
        searchInput.addEventListener("input", function () {
            console.log("hi")
            const searchTerm = searchInput.value.toLowerCase();
            console.log(searchTerm)
            const propertyCards = document.querySelectorAll(".property-card");

            propertyCards.forEach(function (card) {
                const cardContents = card.querySelectorAll(".card-text"); // Add other selectors as needed
        let cardText = "";

        cardContents.forEach(function (element) {
            cardText += element.textContent.toLowerCase();
        });
                
                console.log(cardText)
                if (cardText.includes(searchTerm)) {
                    card.style.display = "block"; // Show matching cards
                } else {
                    card.style.display = "none"; // Hide non-matching cards
                }
            });
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous">
</script>
</body>


</html>